@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="jumbotron-fluid bg-dark text-white">This Is A Dummy Project</p>
    <h3>Here we can View and Insert data from and to the Database</h3>
</div>
